/*
 * INDEX PAGE ONLY
 */
.masthead-logo
{
	position: relative;
	z-index: 1;
	left: 43px; /* Have to indent so angle of post-list-heading colour bar lines up with left edge of logo. */
	margin-top: 0px;
	margin-bottom: 50px;
	width: 860px;
	height: 250px; /* controls height of masthead logo */
}

/* list header */
.post-list-heading
{
	position: relative;
	left: 0px;
	width: 860px;
	padding-top: 25px;
	padding-right: 35px;
	padding-bottom: 2px;
	transform: skew(-27.7deg);
	background-image: linear-gradient(to right, rgba(191, 181, 153, 1.0), rgba(255, 255, 255, 1.0));
	font-family: Arial, Helvetica, sans-serif;
	font-style: italic;
	font-size: 25px;
	text-align: right;
	color: black;
}
.post-list
{
	top: 0px;
	bottom: 0px;
	left: 0px;
	list-style-type: none;
}
.post-item
{
	position: relative;
	z-index: 1;
	left: -13px; /* Compensate for difference between relative and absolute. */
	margin-bottom: 0px;
	margin-top: 0px;
	width: 860px;
	height: 100px; /* controls overall height of items in list */
}
.post-info
{
	position: absolute;
	z-index: 1;
	width: 480px;
	height: 100px;
	top: 0px;
	right: 0px;
}
.post-topic-date
{
	position: absolute;
	z-index: 1;
	top: 0px;
	right: 0px;
	font-size: 14px;
	font-family: Arial, Helvetica, sans-serif;
	color: gray;
}
.topic-return-to-top
{
	position: absolute;
	z-index: 1;
	bottom: 0px;
	right: 220px;
	font-size: 14px;
	font-family: Arial, Helvetica, sans-serif;
	color: gray;
}
.post-link
{
	position: relative;
	z-index: 1;
	top: 16px;
	left: 0px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
}
.post-blurb
{
	position: absolute;
	z-index: 1;
	top: 36px;
	left: 0px;
	font-family: Times, "Times New Roman", serif;
	font-size: 14px;
	font-color: black;
}
/* topic items on main page */
.post-color-fade
{
	position: absolute;
	z-index: -1;
	width: 480px;
	height: 10px;
	bottom: 0px;
	left: 0px;
	transform: skew(-20deg);
}
.post-topic-icon
{
	position: absolute;
	z-index: 1;
	right: 510px;
	top: -1px;
}
/* items on Topics page */
.topic-div
{
	position: relative;
	z-index: 10;
	height: 40px; /* controls overall height of items in list */
	width: 860px;
}
.topic-header
{
	position: relative;
	z-index: 1;
	width: 480px;
	height: 10px;
	bottom: 10px;
	left: 0px;
	transform: skew(-20deg);
}
.post-topic
{
	position: relative;
	z-index: 1;
	left: -13px; /* Compensate for difference between relative and absolute. */
	margin-bottom: 0px;
	margin-top: 0px;
	width: 860px;
	height: 60px; /* controls overall height of items in list */
}
.post-color-fade-topic
{
	position: relative;
	z-index: 1;
	width: 480px;
	height: 10px;
	bottom: 0px;
	left: 380px;
	transform: skew(-20deg);
}
/* FOOTER stuff */
.footer-col-1
{
	width: -webkit-calc(45% - (30px / 2));
	width: calc(45% - (30px / 2));
}

.footer-col-2
{
	width: -webkit-calc(20% - (30px / 2));
	width: calc(20% - (30px / 2));
}

.footer-col-3
{
	width: -webkit-calc(35% - (30px / 2));
	width: calc(35% - (30px / 2));
	text-align: right;
}
