<div class="inpage-frame">
	<figure class="left">
		<img src="images/diagrams/017_mvc/mvc_017_01_mvc_and_the_user.png" alt="Figure 1: Model/View/Controller and the User" style="width: 500px; height: 314px;">
		<figcaption>
			Figure 1: Model/View/Controller and the User
		</figcaption>
	</figure>
</div>


<div class="inpage-frame">
	<figure class="right">
		<img src="images/diagrams/017_mvc/mvc_017_01_mvc_and_the_user.png" alt="Figure 1: Model/View/Controller and the User" style="width: 500px; height: 314px;">
		<figcaption>
			Figure 1: Model/View/Controller and the User
		</figcaption>
	</figure>
</div>
