#mywindow
{
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size: 12px;
	background-image: none;
	background-color: blue;
	
} /* mywindow */

button.text-button#button1
{
	font-family: "Comic Sans MS", cursive, sans-serif;
	font-size: 16px;
	color: red;
	text-decoration: underline; /* doesn't work */
	background-image: none;
	background-color: yellow;
	
} /* button1 */

button.text-button#button2
{
	color: green;
	background-image: none;
	background-color: blue;
	font-family: "Courier New", Courier, monospace;
	font-size: 20px;
	
} /* button2 */

label#label1
{
	font-family: Arial, Helvetica, sans-serif;
	color: red;
	font-size: 26px;
	background-color: yellow;
	
} /* label1 */

label#label2
{
	color: green;
	background-color: yellow;
	
} /* label2 */

label#label3
{
	color: blue;
	background-color: yellow;
	
} /* label3 */
