/*
 * Because some pages have 6 example code files and each of those has a screenshot
 * and a terminal output screenshot... that's why I need so many of these.
 * And it's the same for the modal close buttons, too.
 */
#img0, #img1, #img2, #img3, #img4, #img5, #img6, #img7,
#img8, #img9, #imga, #imgb, #imgc, #imgd, #imge,
#diagram0, #diagram1, #diagram2, #diagram3, #diagram4, #diagram5
{
	border-radius: 5px;
	cursor: pointer;
	transition: 0.3s;
}

#img0:hover, #img1:hover, #img2:hover, #img3:hover, #img4:hover #img5:hover, #img6:hover,
#img7:hover, #img8:hover, #img9:hover, #imga:hover, #imgb:hover, #imgc:hover, #imgd:hover,
#imge:hover
#diagram0:hover, #diagram1:hover, #diagram2:hover,
#diagram3:hover, #diagram4:hover, #diagram5:hover

{
	opacity: 0.7;
}

/* The Modal (background) */
.modal
{
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	padding-top: 100px; /* Location of the box */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgba(0,0,0,0.5); /* Black w/ opacity */
}

/* The Modal (background) */
.diagram-modal
{
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	padding-top: 100px; /* Location of the box */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgba(0,0,0,0.5); /* Black w/ opacity */
}

/* Modal Content (image) - By leaving out width parameter, the images are displayed in their original size. */
.modal-content
{
	margin: auto;
	display: block;
	max-width: 900px;
}

/* Caption of Modal Image */
#caption
{
	margin: auto;
	display: block;
	width: 80%;
	max-width: 700px;
	text-align: center;
	color: #ccc;
	padding: 10px 0;
	height: 150px;
}

/* Add Animation */
.modal-content, #caption
{  
	-webkit-animation-name: zoom;
	-webkit-animation-duration: 0.6s;
	animation-name: zoom;
	animation-duration: 0.6s;
}

@-webkit-keyframes zoom
{
	from
	{
		-webkit-transform:scale(0)
	} 
	to
	{
		-webkit-transform:scale(1)
	}
}

@keyframes zoom
{
	from
	{
		transform:scale(0)
	} 
	to
	{
		transform:scale(1)
	}
}

/* The Close Button */
.close0, .close1, .close2, .close3, .close4, .close5, .close6,
.close7, .close8, .close9, .closea, .closeb, .closec, .closed, .closee,
.diagram-close0, .diagram-close1, .diagram-close2, .diagram-close3,
.diagram-close4, .diagram-close5
{
	position: absolute;
	top: 15px;
	right: 35px;
	color: #f1f1f1;
	font-size: 40px;
	font-weight: bold;
	transition: 0.3s;
}

.close0:hover, .close1:hover, .close2:hover, .close3:hover, .close4:hover,
.close5:hover, .close6:hover, .close7:hover, .close8:hover, .close9:hover,
.closea:hover, .closeb:hover, .closec:hover, .closed:hover, .closee:hover,  
.close0:focus, .close1:focus, .close2:focus, .close3:focus, .close4:focus, 
.close5:focus, .close6:focus, .close7:focus, .close8:focus, .close9:focus, 
.closea:focus, .closeb:focus, .closec:focus, .closed:focus, .closee:focus,
.diagram-close0:focus, .diagram-close1:focus, .diagram-close2:focus,
.diagram-close3:focus, .diagram-close4:focus, .diagram-close5:focus
{
	color: #bbb;
	text-decoration: none;
	cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px)
{
	.modal-content
	{
		width: 100%;
	}
}
