/*
 * POST PAGE ONLY (see further down for other categories)
 */

pre
{
	-moz-tab-size: 3;
	-o-tab-size:   3;
	tab-size:      3;
}

.frame-header
{
	grid-area: header;
}
.frame-screenshot
{
	grid-area: screenshot;
}
.frame-terminal
{
	grid-area: terminal;
}
.frame-screen_caption
{
	grid-area: screencaption;
}
.frame-term_caption
{
	grid-area: termcaption;
}
.frame-footer
{
	float: right;
	padding: 5px;
}
.screenshot-frame
{
	background-color: #eee;
	z-index: 10;
	padding: 10px;
	margin-bottom: 20px;
	display: grid;
	grid-template-areas:
		'header header'
		'screenshot terminal'
		'screencaption termcaption'
		'frame-footer frame-footer';
	grid-gap: 10px;
}

.inpage-frame
{
	background-color: #eee;
	z-index: 10;
	margin-top: 10px;
	margin-bottom: 20px;
	border: 20px;
}

.blog-nav
{
	background-color: #eee;
	z-index: 10;
	padding-top: 10px;
	padding-bottom: 40px;
	padding-left: 20px;
	padding-right: 20px;
}

.right
{
	float: right;
	margin-left: 15px;
}

.left
{
	float: left;
	margin-right: 20px;
	max-width: 305px;
}

figcaption
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: italic;
}

.previous-next-div
{
	position: relative;
	z-index: 10;
	height: 20px;
	margin-bottom: 35px;
	margin-top: 35px;
	width: 720px;
}
