img.right, figure.right
{
	float: right;
	margin-left: 15px;
}

img.left, figure.left
{
	float: left;
	margin-right: 20px;
}

figcaption
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: italic;
}

h1
{
	background-color: #bbf;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 35px;
	padding-top: 50px;
	padding-left: 35px;
	padding-bottom: 5px;
	text-align: left;
	color: black;
}

h2
{
	background-color: #bbf;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 25px;
	padding-top: 25px;
	padding-right: 35px;
	padding-bottom: 2px;
	text-align: right;
	color: black;
}

h3
{
	background-color: #bbf;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	font-style: italic;
	padding-top: 15px;
	padding-right: 20px;
	padding-bottom: 4px;
	text-align: right;
	color: black;
}

h4
{
	background-color: #bbf;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-style: italic;
	padding-top: 10px;
	padding-right: 20px;
	padding-bottom: 3px;
	text-align: right;
	color: black;
}

/*
.post-link
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	direction: rtl;
	text-indent: 40px;
	padding-top: 5px;
	padding-right: 40px;						
	padding-bottom: 0px;
	opacity: 1;
	z-index: 20;
}
*/
		
.topic-div
{
	position: relative;
	z-index: 10;
	height: 80px;
	margin-bottom: 5px;
	margin-top: 15px;
	width: 720px;
}
.post-date
{
	font-size: 14px;
	color: gray;
}

.post-link
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	padding-top: 5px;
	padding-bottom: 5px;
	z-index: 20;

}
.topic-span-icon
{
	position: absolute;
	z-index: 4;
	width: 100px;
	left: 100px;
	top: 10px;
	height: 100px;
}

/* list header */
.post-list-heading
{
	background-image: linear-gradient(to right, rgba(0, 37, 195, 1.0), rgba(255, 255, 255, 1.0));
	font-family: Arial, Helvetica, sans-serif;
	font-size: 25px;
	padding-top: 25px;
	padding-right: 35px;
	padding-bottom: 2px;
	text-align: right;
	color: black;
}

/* list items */
.post-list /* no color */
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-style: italic;
	padding-top: 0px;
	padding-right: 20px;
	padding-bottom: 2px;
	text-align: left;
	color: black;
}


/* topic colors */

.topic-color_window /* burnt orange */
{
	background-image: linear-gradient(to right, rgba(253, 176, 138, 1.0), rgba(255, 255, 255, 1.0));
	padding-top: 5px;
	padding-right: 20px;
	padding-bottom: 1px;
	text-align: right;
	color: black;
	z-index: 2;
}
.topic_window-icon
{
	width: 146px;
	height: 80px;
}

.topic-color_button /* yellow */
{
	background-image: linear-gradient(to right, rgba(253, 238, 138, 1.0), rgba(255, 255, 255, 1.0));
	padding-top: 5px;
	padding-right: 20px;
	padding-bottom: 1px;
	text-align: right;
	color: black;
	z-index: 2;
}

.topic_button-icon
{
	width: 70px;
	height: 80px;
}

.topic-color_box /* green */
{
	background-image: linear-gradient(to right, rgba(192, 253, 135, 1.0), rgba(255, 255, 255, 1.0));
	padding-top: 5px;
	padding-right: 20px;
	padding-bottom: 1px;
	text-align: right;
	color: black;
	z-index: 2;
}

.topic_box-icon
{
	width: 98px;
	height: 80px;
}

.topic-color_mouse /* light purple */
{
	background-image: linear-gradient(to right, rgba(138, 154, 253, 1), rgba(255, 255, 255, 1.0));
	padding-top: 5px;
	padding-right: 20px;
	padding-bottom: 1px;
	text-align: right;
	color: black;
}

.topic_mouse-icon
{
	width: 100px;
	height: 117px;
}

.topic-color_text /* tan */
{
	background-image: linear-gradient(to right, rgba(181, 138, 253, 1), rgba(255, 255, 255, 1.0));
	padding-top: 5px;
	padding-right: 20px;
	padding-bottom: 1px;
	text-align: right;
	color: black;
}

.topic_text-icon
{
	width: 100px;
	height: 48px;
}

.topic-icon
{
	width: 60px;
	height: 60px;
}

.topic-color_image /* redish */
{
	background-image: linear-gradient(to right, rgba(253, 138, 138, 1.0), rgba(255, 255, 255, 1.0));
	padding-top: 5px;
	padding-right: 20px;
	padding-bottom: 1px;
	text-align: right;
	color: black;
}

.topic_image-icon
{
	width: 100px;
	height: 62px;
}

.topic-color_odd /* aqua */
{
	background-image: linear-gradient(to right, rgba(138, 253, 211, 1.0), rgba(255, 255, 255, 1.0));
	padding-top: 5px;
	padding-right: 20px;
	padding-bottom: 1px;
	text-align: right;
	color: black;
}

.topic_odd-icon
{
	width: 100px;
	height: 89px;
}

.topic-color_menu /* lemon */
{
	background-image: linear-gradient(to right, rgba(249, 253, 138, 1.0), rgba(255, 255, 255, 1.0));
	padding-top: 5px;
	padding-right: 20px;
	padding-bottom: 1px;
	text-align: right;
	color: black;
}

.topic_menu-icon
{
	width: 80px;
	height: 80px;
}

.topic-color_dialog /* blue */
{
	background-image: linear-gradient(to right, rgba(138, 208, 253, 1.0), rgba(255, 255, 255, 1.0));
	padding-top: 5px;
	padding-right: 20px;
	padding-bottom: 1px;
	text-align: right;
	color: black;
}

.topic_dialog-icon
{
	width: 100px;
	height: 66px;
}

.topic-color_linux /* hot pink */
{
	background-image: linear-gradient(to right, rgba(233, 138, 253, 1.0), rgba(255, 255, 255, 1.0));
	padding-top: 5px;
	padding-right: 20px;
	padding-bottom: 1px;
	text-align: right;
	color: black;
}

.topic_linux-icon
{
	width: 64px;
	height: 80px;
}

.topic-color_cairo /* chartreuse */
{
	background-image: linear-gradient(to right, rgba(253, 138, 208, 1.0), rgba(255, 255, 255, 1.0));
	padding-top: 5px;
	padding-right: 20px;
	padding-bottom: 1px;
	text-align: right;
	color: black;
}

.topic_cairo-icon
{
	width: 100px;
	height: 66px;
}

.topic-color_mvc /* brown */
{
	background-image: linear-gradient(to right, rgba(180, 172, 165, 1.0), rgba(255, 255, 255, 1.0));
	padding-top: 5px;
	padding-right: 20px;
	padding-bottom: 1px;
	text-align: right;
	color: black;
}

.topic_mvc-icon
{
	width: 100px;
	height: 89px;
}

.topic-color_oop /* gray */
{
	background-image: linear-gradient(to right, rgba(200, 200, 200, 1.0), rgba(255, 255, 255, 1.0));
	padding-top: 5px;
	padding-right: 20px;
	padding-bottom: 1px;
	text-align: right;
	color: black;
}

.topic_oop-icon
{
	width: 100px;
	height: 49px;
}

.topic-color_default /* light gray */
{
	background-image: linear-gradient(to right, rgba(138, 249, 253, 1), rgba(255, 255, 255, 1.0));
	padding-top: 5px;
	padding-right: 20px;
	padding-bottom: 1px;
	text-align: right;
	color: black;
}

.topic_default-icon
{
	width: 100px;
	height: 53px;
}


p, li, a
{
	font-family: Times, Time New Roman, serif;
	font-style: normal;
	color: black;
	z-index: 20;
}
