/* Topics CSS */

h7 /* used for topics menu at top of page */
{
	font-family: Helvetica, Arial, sans-serif;
	font-size: 14px;
	font-weight: bold;
}

.topics-menu
{
	background: rgba(204, 239, 255, 1);
	display: grid;
	grid-template-columns: 100px 100px 100px 100px 100px;
	justify-content: space-evenly;
	grid-gap: 5px;
	padding: 5px;
}
.topics-menu > div
{
	text-align: center;
	padding: 5px 0;
	font-size: 20px;
}

.window
{
	background-image: linear-gradient(to bottom, rgba(241, 92, 92, 1.0), rgba(255, 255, 255, 1.0));
	border: 1px solid rgba(0, 0, 0, 0.8);
}
.button
{
	background-image: linear-gradient(to bottom, rgba(243, 213, 163, 1.0), rgba(255, 255, 255, 1.0));
	border: 1px solid rgba(0, 0, 0, 0.8);
}
.container
{
	background-image: linear-gradient(to bottom, rgba(85, 243, 85, 1.0), rgba(255, 255, 255, 1.0));
	border: 1px solid rgba(0, 0, 0, 0.8);
}
.general
{
	background-image: linear-gradient(to bottom, rgba(92, 236, 241, 1), rgba(255, 255, 255, 1.0));
	border: 1px solid rgba(0, 0, 0, 0.8);
}
.mouse
{
	background-image: linear-gradient(to bottom, rgba(192, 163, 255, 1), rgba(255, 255, 255, 1.0));
	border: 1px solid rgba(0, 0, 0, 0.8);
}
.text
{
	background-image: linear-gradient(to bottom, rgba(222, 139, 243, 1), rgba(255, 255, 255, 1.0));
	border: 1px solid rgba(0, 0, 0, 0.8);
}
.image
{
	background-image: linear-gradient(to bottom, rgba(243, 116, 196, 1), rgba(255, 255, 255, 1.0));
	border: 1px solid rgba(0, 0, 0, 0.8);
}
.bar
{
	background-image: linear-gradient(to bottom, rgba(123, 174, 195, 1), rgba(255, 255, 255, 1.0));
	border: 1px solid rgba(0, 0, 0, 0.8);
}
.menu
{
	background-image: linear-gradient(to bottom, rgba(241, 241, 92, 1), rgba(255, 255, 255, 1.0));
	border: 1px solid rgba(0, 0, 0, 0.8);
}
.dialog
{
	background-image: linear-gradient(to bottom, rgba(84, 134, 84, 1), rgba(255, 255, 255, 1.0));
	border: 1px solid rgba(0, 0, 0, 0.8);
}
.linux
{
	background-image: linear-gradient(to bottom, rgba(243, 163, 163, 1), rgba(255, 255, 255, 1.0));
	border: 1px solid rgba(0, 0, 0, 0.8);
}
.cairo
{
	background-image: linear-gradient(to bottom, rgba(147, 195, 123, 1), rgba(255, 255, 255, 1.0));
	border: 1px solid rgba(0, 0, 0, 0.8);
}
.mvc
{
	background-image: linear-gradient(to bottom, rgba(241, 181, 92, 1), rgba(255, 255, 255, 1.0));
	border: 1px solid rgba(0, 0, 0, 0.8);
}
.oop
{
	background-image: linear-gradient(to bottom, rgba(211, 137, 91, 1), rgba(255, 255, 255, 1.0));
	border: 1px solid rgba(0, 0, 0, 0.8);
}
.sfx
{
	background-image: linear-gradient(to bottom, rgba(1, 1, 255, 1), rgba(255, 255, 255, 1.0));
	border: 1px solid rgba(0, 0, 0, 0.8);
}
.nodes
{
	background-image: linear-gradient(to bottom, rgba(140, 2, 2, 1), rgba(255, 255, 255, 1.0));
	border: 1px solid rgba(0, 0, 0, 0.8);
}
.hardware
{
	background-image: linear-gradient(to bottom, rgba(252, 156, 14, 1), rgba(255, 255, 255, 1.0));
	border: 1px solid rgba(0, 0, 0, 0.8);
}
.topic18
{
	background-image: linear-gradient(to bottom, rgba(140, 2, 140, 1), rgba(255, 255, 255, 1.0));
	border: 1px solid rgba(0, 0, 0, 0.8);
}
.topic19
{
	background-image: linear-gradient(to bottom, rgba(1, 81, 1, 1), rgba(255, 255, 255, 1.0));
	border: 1px solid rgba(0, 0, 0, 0.8);
}
