---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

	{%- if site.posts.size > 0 -%}
		<h2 class="post-list-heading">{{ page.list_title | default: "Musings of a GtkD Coder" }}</h2>
		<ul class="post-list">

		{% for post in site.posts %}
			<li>
				{%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
				
				<div class="topic-div">
					<span class="post-date"> {{ post.date | date: date_format }}
						<h3 class="topic-color_{{post.topic}} post-list-item">
							<a class="post-link" href="{{ post.url | relative_url }}"</a>
								{{ post.title | escape }}
							</a>
						</h3>
					<span class="topic-span-icon">
						<img class="topic-icon" src="/images/topics/{{post.topic}}.png">
					</span>
				</div>
	
<!--			<span class="post-meta">{{ post.date | date: date_format }}</span>
				<h3 class="topic_window">
				<a class="post-link" href="{{ post.url | relative_url }}">
				<img src="/images/signs/window-small.png" alt="Window" style="width: 50px; height: 70px;"> 
				{{ post.title | escape }}
				</a>
				</h3>
				{%- if site.show_excerpts -%}
					{{ post.excerpt }}
				{%- endif -%}-->

			</li>
		{% endfor %}
		</ul>
    <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
	{%- endif -%}

</div>
