---
layout: default
---

<div class="home">
	<div class="masthead-logo">
		{{ content }} <!-- draw in the content of the page that uses this layout -->
	</div>
	
	{%- if site.posts.size > 0 -%}
		<!-- <h2 class="post-list-heading">{{ page.list_title | default: "Musings of a GtkD Coder" }}</h2> -->
		<div  class="post-list">
			<ul class="post-list">

			{%- for post in site.posts reversed -%}
				<li>
					{%- assign date_format = site.minima.date_format | default: "%A, %B %-d, %Y" -%}
					<div class="post-item">
						<div class="post-info">
							<div class="post-topic-date">
								{{ post.date | date: date_format }} <!-- date of post -->
							</div>
							<div class="post-link">
								<a href="{{ post.url | relative_url }}"</a> <!-- build page URL -->
								{{ post.title }} <!-- title text -->
							</div>
							<BR>
							<div class="post-blurb">
								{{ post.description }}
							</div>
							<div class="topic-color_{{post.topic}} post-color-fade"> <!-- pulls colors from colors.css, position from main.css -->
							</div>
						</div>
						<div class="post-topic-icon">
							<img class="topic-icon" src="/images/topics/{{post.topic}}.png"> <!-- topic image -->
						</div>
					</div>
				</li>
			{% endfor %}
			</ul>
		</div>
    <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
	{%- endif -%}
</div>
