---
layout: default
---
<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">
	<header class="post-header">
		<link rel="stylesheet" href="/css/font_size.css" />
		<link rel="stylesheet" href="/css/figure.css" />
		{% if page.topic == 'application' %}
			<link rel="stylesheet" href="/css/topics/application.css" />
		{% elsif page.topic == 'button' %}
			<link rel="stylesheet" href="/css/topics/button.css" />
		{% elsif page.topic == 'canvas' %}
			<link rel="stylesheet" href="/css/topics/canvas.css" />		
		{% elsif page.topic == 'checkbutton' %}
			<link rel="stylesheet" href="/css/topics/checkbutton.css" />		
		{% elsif page.topic == 'class' %}
			<link rel="stylesheet" href="/css/topics/class.css" />		
		{% elsif page.topic == 'colorchooser' %}
			<link rel="stylesheet" href="/css/topics/colorchooser.css" />		
		{% elsif page.topic == 'combobox' %}
			<link rel="stylesheet" href="/css/topics/combobox.css" />		
		{% elsif page.topic == 'dialog' %}
			<link rel="stylesheet" href="/css/topics/dialog.css" />
		 {% elsif page.topic == 'entry' %}
			<link rel="stylesheet" href="/css/topics/entry.css" />		
		{% elsif page.topic == 'event' %}
			<link rel="stylesheet" href="/css/topics/event.css" />		
		{% elsif page.topic == 'font' %}
			<link rel="stylesheet" href="/css/topics/font.css" />		
		{% elsif page.topic == 'frame' %}
			<link rel="stylesheet" href="/css/topics/frame.css" />		
		{% elsif page.topic == 'grid' %}
			<link rel="stylesheet" href="/css/topics/grid.css" />		
		{% elsif page.topic == 'image' %}
			<link rel="stylesheet" href="/css/topics/image.css" />		
		{% elsif page.topic == 'label' %}
			<link rel="stylesheet" href="/css/topics/label.css" />		
		{% elsif page.topic == 'labelframe' %}
			<link rel="stylesheet" href="/css/topics/labelframe.css" />		
		{% elsif page.topic == 'listbox' %}
			<link rel="stylesheet" href="/css/topics/listbox.css" />		
		{% elsif page.topic == 'menu' %}
			<link rel="stylesheet" href="/css/topics/menu.css" />
		{% elsif page.topic == 'message' %}
			<link rel="stylesheet" href="/css/topics/message.css" />
		{% elsif page.topic == 'messagebox' %}
			<link rel="stylesheet" href="/css/topics/messagebox.css" />		
		{% elsif page.topic == 'notebook' %}
			<link rel="stylesheet" href="/css/topics/notebook.css" />		
		{% elsif page.topic == 'panedwindow' %}
			<link rel="stylesheet" href="/css/topics/panedwindow.css" />		
		{% elsif page.topic == 'progressbar' %}
			<link rel="stylesheet" href="/css/topics/progressbar.css" />		
		{% elsif page.topic == 'radiobutton' %}
			<link rel="stylesheet" href="/css/topics/radiobutton.css" />		
		{% elsif page.topic == 'scale' %}
			<link rel="stylesheet" href="/css/topics/scale.css" />
		{% elsif page.topic == 'scrollbar' %}
			<link rel="stylesheet" href="/css/topics/scrollbar.css" />
		{% elsif page.topic == 'scrolledtext' %}
			<link rel="stylesheet" href="/css/topics/scrolledtext.css" />
		{% elsif page.topic == 'sizegrip' %}
			<link rel="stylesheet" href="/css/topics/sizegrip.css" />		
		{% elsif page.topic == 'spinbox' %}
			<link rel="stylesheet" href="/css/topics/spinbox.css" />		
		{% elsif page.topic == 'text' %}
			<link rel="stylesheet" href="/css/topics/text.css" />		
		{% elsif page.topic == 'themestyle' %}
			<link rel="stylesheet" href="/css/topics/themestyle.css" />		
		{% elsif page.topic == 'treeview' %}
			<link rel="stylesheet" href="/css/topics/treeview.css" />		
		{% elsif page.topic == 'window' %}
			<link rel="stylesheet" href="/css/topics/window.css" />
		{% else %}
			<link rel="stylesheet" href="/css/topics/general.css" />
		{% endif %}
		
		<link rel="stylesheet" href="/css/modal.css" />
		<link rel="stylesheet" href="/css/post.css" />
		
		{% if page.keywords %}
			<meta name="keywords" content="{{ page.keywords | join: ', ' | escape }}">
		{% endif %}
		<p class="post-meta">
		<time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
			{%- assign date_format = site.minima.date_format | default: "%A, %B %-d, %Y" -%}
			{{ page.date | date: date_format }}
		</time>
			{%- if page.author -%}
			• by <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span class="p-author h-card" itemprop="name">{{ page.author }}</span></span>
	      {%- endif -%}</p>
	</header>

	<div class="post-content e-content" itemprop="articleBody">
		{{ content }}
		{%- include post-footer.html -%}
	</div>

	<a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>
