---
layout: default
---
<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">
	<header class="post-header">
		<link rel="stylesheet" href="/css/font_size.css" />
		<link rel="stylesheet" href="/css/figure.css" />
		<link rel="stylesheet" href="/css/topics/{{ page.tag }}.css" />  <!-- sub in the tag/topic -->
		<link rel="stylesheet" href="/css/modal.css" />
		<link rel="stylesheet" href="/css/post.css" />
		<link rel="stylesheet" href="/css/mascot_effects.css" />

		
		{% if page.keywords %}
			<meta name="keywords" content="{{ page.keywords | join: ', ' | escape }}">
		{% endif %}
		<p class="post-meta">
		<time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
			{%- assign date_format = site.minima.date_format | default: "%A, %B %-d, %Y" -%}
			{{ page.date | date: date_format }}
		</time>
			{%- if page.author -%}
			• by <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span class="p-author h-card" itemprop="name">{{ page.author }}</span></span>
	      {%- endif -%}</p>
	</header>

	<div class="post-content e-content" itemprop="articleBody">
		<div class="skew-line"></div>
		{{ content }}
		{%- include post-footer.html -%}
	</div>

	<a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>
